<a href="https://colab.research.google.com/github/Rijinputhiyonnan/ICT-daily-task-Rijin/blob/main/Assignment_on_Python_programming_1_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---

In [ ]:
# 1

def area(r):
  a=22/7*r*r
  return(a)

In [ ]:
x=float(input("enter the value of r- "))
print(area(x))

enter the value of r- 3
28.285714285714285

In [ ]:
#2

name=input("enter the name of student-  ")
rolln=int(input("enter the roll number of student-  "))
mark=float(input("enter the mark of student-  "))
print(f"name of student is {name} and roll number is {rolln} and mark is {mark}")

enter the name of student-  Anisha
enter the roll number of student-  21
enter the mark of student-  78
name of student is Anisha and roll number is 21 and mark is 78.0

In [ ]:
#3
f=[ 12, 3, 47, 10]
j=max(f)
print(j,"is the largest number")

47 is the largest number

In [ ]:
#4
a=range(1,11)
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in a:
  print(f'Current Number {i} Previous Number {i-1} Sum: {2*i-1}')

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [ ]:
#5

g=[10, 20,33,46,55]
for i in g:
  if i%5==0:
    print(i)
  else:
    pass

10
20
55

In [ ]:
#6

n=int(input("enter your number-  "))
if n>1:
  for i in range(2,n):
    if n%i==0:


      print("entered value is not prime")
      break
  else:
      print("entered value is a prime")

else:
  print("entered value is neither prime nor composite, or invalid entry")

enter your number-  2
entered value is a prime

In [ ]:
#7
k=[10,40,30,70]
k.reverse()
print(k)

[70, 30, 40, 10]

In [ ]:
#8

i=1
while i<5:
  m="*"*i
  print(m)
  i+=1

*
**
***
****

In [ ]:
#9
v=[34,12,7]
m=max(v)
print(m)

34

In [ ]:
#10
i=1
for i in range(1,6):
  for j in range(i):
    print('*', end='')
  print()

for i in range(4,0,-1):
  for j in range(i):
    print('*', end='')
  print()

*
**
***
****
*****
****
***
**
*

# **second part**

In [ ]:
#1
string=input("enter the string-  ")
m=len(string)
k=range(0,m)
for i in k:
  print(f'{string[i]} = {i+1}')

enter the string-  asembly
a = 1
s = 2
e = 3
m = 4
b = 5
l = 6
y = 7

In [ ]:
#2
import builtins

def find_max(x, y, z):
    nmax = builtins.max(x, y, z)
    return nmax

m1 = 34
m2 = 12
m3 = 7
ans = find_max(m1, m2, m3)
print(ans)

34

In [ ]:
#3
def power(number,exponent):
  if exponent==0:
    return(1)
  elif exponent<0:
    return(1/power(number,exponent))
  else:
    return(number*power(number,exponent-1))

In [ ]:
base=float(input("enter the number-   "))
exponent=float(input("enter the exponent-   "))
print(power(base,exponent))

enter the number-   2
enter the exponent-   3
8.0

In [ ]:
#4
def sum_of_cubes(n):
  sum=0
  for i in range(1,n):
    sum+=i**3
  return(sum)

In [ ]:
#5

a=range(1,11)
for i in a:
  if i%2==0 and i%5==0:
    print('FizzBuzz',end=' ')
  elif i%2==0:
    print('Fizz',end=' ')
  elif i%5==0:
    print('Buzz',end=' ')
  else:
    print(i,end=' ')

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [153]:
#6
from collections import Counter
si=[2, 3, 4, 2, 5, 2,]
def most_frequent(li):
  count=Counter(li)
  most_common = count.most_common(1)
  return most_common[0][0] if most_common else None
print(most_frequent(si))

2

In [ ]:
#7
sample=[ 2,1,3,1]
sm=0
for i in sample:
  sq=i**2
  sm+=sq
print(sm)

15

In [137]:
#8
b=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for a in b:
  if a%2==0:
    print(f'{a}-even',end=" ")
  else:
    print(f'{a}-odd',end=" ")

1-odd 2-even 3-odd 4-even 5-odd 6-even 7-odd 8-even 9-odd 10-even 11-odd 12-even 13-odd 14-even 15-odd

In [141]:
#9
f=41
c=(f-32)*5/9
print(c)

5.0

In [149]:
import math
#10
def factorial(n):
    return math.factorial(n)

In [151]:
num = 3
x = factorial(num)
print(f"The factorial of {num} is {x}")

The factorial of 3 is 6